@font-face {
font-family: OswaldLight;
src: url(/includes/fonts/Oswald-Light.ttf);
}

@font-face {
font-family: OswaldRegular;
src: url(/includes/fonts/Oswald-Regular.ttf);
}


@font-face {
font-family: OswaldBold;
src: url(/includes/fonts/Oswald-Bold.ttf);
}



/* Begin Typography & Colors */
body {
	margin: 0;
	padding: 0;	
	font-family: "Lucida Grande", "Lucida Sans Unicode", Tahoma, Verdana, sans-serif;
	line-height: 30px;
	text-align: center;
	color: #444;
	width: 100%;
	margin: 0px;
	padding: 0px;
}

a {
	color: #FF3F00;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

hr {
	height: 2px;
	background-color: #DDDDDD;
	width: 800px;
	border:0;
	margin-bottom: 50px;
}

h2 {
	font: 42px/60px 'OswaldLight';
	padding: 20px 0px 20px 0px;
	margin: 0px;
	text-indent: 0px;
	display: inline-block;
	margin-top: -20px;
}

h2:hover {
	background:url('/images/labelCopy.png') no-repeat left top;
	padding-top: 20px;
	margin-top: -20px;
}

.textH2 {
	font: 42px/60px 'OswaldLight';
	padding: 0px 0px 30px 0px;
	margin: 0px;
	text-indent: 0px;
	display: inline-block;
}

.textsmall {
	font-size: 14px;
	color: #999999;
}

ul, ol {
	margin:0;
	text-align:left;
	display: inline-block;
}

#readStatus {
	display: inline-block;
	border-radius: 15px;
	background-color: #ffffff;
	padding: 0 16px 0 16px;
	color: #999999;
	font: 300 36px/70px 'OswaldLight';
}

.opening {
	padding: 60px 0 90px 0;
	width: 800px;
	font-size: 30px;
	text-align: left;
	margin:0 auto;
	font: 42px/70px 'OswaldLight';
	color: #777777;
}
.openingBig {
	font: 90px/140px 'OswaldBold';
}


.textGood {
	color: #FF9999;
	/*text-shadow: 0px 0px 5px #000000;*/
}

.textStrong {
	color: #444444;
	font-family: 'OswaldBold';

}
.description {
	text-indent: 0px;
	display: inline-block;

}
.anchor {
	padding-top: 30px;
	border: 0;
	outline: 0;
	display: inline-block;
	padding-right: 5px;
	margin-top: 10px;
}

.anchortitle, .anchortitle span {
	color: inherit;
}
.anchortitle:hover   {
	color: #666666 !important;
	text-decoration: none;
}


.111img {
	height: 329px;
}

